This is the Client List Page<br/>
What do you want to search for?<br/>
{{input type="text" value=query}}

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>1.21 Gigawatts?!</th>
  </tr>
  {{#each client in filteredModel}}
   <tr>
    <td>{{#link-to 'client' client }}{{client.name}}{{/link-to}}</td>
    <td>{{client.email}}</td>
    <td>{{time-tracker start="startTimer" stop="stopTimer" model=client}}</td>
   </tr>
  {{/each}}
</table>

<h5>Total Clients</h5>
{{clientsCount}}